@import 'help';

.header {
}
.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 40px;
    margin-right: 50px;
    margin-left: 50px;
    .menu__logo {
    }
    .menu__list {
        display: flex;
    }
}

.menu__item {
    margin-right: 21px;
    &:last-child{
        margin-right: 0;
    }
}
.item__link {
    font-size: 13px;

    &.bold {
        color: #D1A954;
    }
}


.menu__burger {
}