$accent:#D1A954;
$black_light:#222222;


.title-big{
    font-size: 36px;
line-height: 145%;
}
.bold{
    font-weight: 700;
}
.light{
    font-weight: 300;
}
.bg_gray{
    background-color: #F9F7F7;
}